<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-9 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="../images/face.png">

                </div>
                <div class="col-12 form-input">
                    <form>
                        <div id="error"></div>
                        <div class="form-group">
                            <input id="password" type="password" class="form-control" placeholder="Enter Old Password"
                                oninput="hideError()">
                        </div>
                        <div class="form-group">
                            <input id="new-password" type="password" class="form-control"
                                placeholder="Enter New Password" oninput="hideError()">
                        </div>
                        <button type="button" onclick="validate()" class="btn btn-success">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function hideError() {
            let div = document.getElementById("error")
            if (div.childNodes[0]) {
                div.classList.remove("alert", "alert-danger")
                div.innerHTML = ''
            }
        }

        function validate() {
            let password = document.getElementById('password').value;
            let newpassword = document.getElementById('new-password').value;
            if (password == '' || newpassword == '') {
                let p = document.createElement("p")
                p.innerText = "Both fields are mandatory"
                document.getElementById("error").classList.add("alert", "alert-danger")
                document.getElementById("error").appendChild(p)
            }
            else {
                resetPassword()
            }
        }

        function resetPassword() {
            let password = document.getElementById('password').value;
            let newpassword = document.getElementById('new-password').value;

            var xmlHttpRequest = new XMLHttpRequest()
            xmlHttpRequest.open("POST", '/candidate/resetpassword', true)
            xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
            xmlHttpRequest.setRequestHeader("authorization", getCookie("authorization"));
            xmlHttpRequest.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        alert("Password Changed Successfully")
                        window.location = "/candidateprofile"
                    }
                    else {
                        let p = document.createElement("p")
                        p.innerText = JSON.parse(this.responseText).msg
                        document.getElementById("error").classList.add("alert", "alert-danger")
                        document.getElementById("error").appendChild(p)
                    }
                }
            }

            xmlHttpRequest.send(JSON.stringify({ password: password, newpassword: newpassword }))
        }
    </script>
</body>