
<head>
    <link rel="stylesheet" href="">
</head>

<body>

    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style=" height:40px">
        <a href="/candidatedashboard" class="navbar-brand">TestHub</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                {{!-- ul can have a class mr-auto-->shifts links to the left --}}
                <li class="nav-item">
                    <a href="/companyprofile" class="nav-link" id="username">{{data.assignedTest.userName}}</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="signOut()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container my-container" style="max-width: 90%;">
        <div class="row row-border heading">
            <h2>Dashboard</h2>
        </div>
        <div class="row row-border row-main text-center">
            <div class="col-2 col-border">
                <a href=""><button class="btn btn-custom">Practice Test</button></a>
            </div>
            
        </div>

        <div class="row row-border my-row align-items-center">
            <div class="col col-border">
                <p style="margin-top:10px ;">Assigned Tests</p>

            </div>
        </div>

        <div class="row row-border recent-tests">
          

            <div id="recent-test" class="col col-border">
                {{#each data.assignedTest.tests}}

                <div class="row row-border row-recent  text-center ">
                    <div class="col-2 col-border">
                        {{this.name}}
                    </div>
                   <div class="col-1 col-border"></div>

                    <div class="col-2 col-border">
                        <a href="/attempttest/{{this._id}}">
                            Attempt Test
                        </a>
                    </div>

                    <div class="col-1 col-border"></div>

                    <div class="col-2 col-border">
                        <a href="#" id="{{this._id}}" >
                           View Info 
                        </a>
                    </div>
                   
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3    ">
        <div class="container" style="width: 100%;">
            <div class="row text-light text-center footer-row align-items-center" style="height: 70px;">
                <div class="col-4 footer-col ">
                    Social Media and updates
                </div>
                <div class="col-4 footer-col">
                    Copyright @ 2020 Testhub.com
                </div>
                <div class="col-4 footer-col">
                    TestHub
                </div>
            </div>
        </div>
    </footer>

</body>