<body>
    <div class="modal-dialog text-center">'
        <div class="col-sm-9 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="../images/notepad.png">

                </div>
                <div class="col-12 form-input">
                    <form>
                        <div class="form-group">
                            <input id="test_name" type="text" class="form-control" placeholder="Enter Test Name">
                        </div>
                        <div class="form-group">
                            <input id="duration" type="password" class="form-control" placeholder="Enter Test Duration">
                        </div>
                        <button  class="btn btn-success">Create Test</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>