<body>
    <div class="container my-container">
        <div class="row row-border">
            <div class="col col-border ">
                <h2>Invite Candidates</h2>
            </div>
        </div>

        <div class="row row-border my-row ">
            <div class="col-1.5 col-border">
                <div id="error"></div>
                <h5>Add Email Id</h5>
            </div>
        </div>

        {{!-- ADD CANDIDATE  --}}
        <div class="row row-border my-row text-center align-items-center">
            <div class="col-3 col-border">
                <input type="email" placeholder="Enter Candidate Email Id" id="email" oninput="hideError()">
            </div>
            <div class="col-1 col-border">
                {{!-- ADD ICON --}}
                <i class="fas fa-plus-square fa-2x" onclick="validate()" style="color: white; cursor: pointer;"></i>
            </div>
        </div>

        <div class="row row-border my-row ">
            <div class="col-1.5 col-border">
                <h5>Candidates to by invited</h5>
            </div>
        </div>

        {{!-- ADDED CANDIDATE SAMPLE --}}
        <div id="list"></div>


        {{!-- SEND INVITE BUTTON --}}
        <div class="row row-border my-row  align-items-center">
            <div class="col-2 col-border">
                <button class="btn btn-success" type="button" onclick="sendInvite()">Send Invite</button>
            </div>
        </div>

    </div>
    <script>
        let candidates = []
        function addElement() {
            hideError()
            if (document.getElementById('email').value == '') {
                let p = document.createElement("p")
                p.innerText = "Enter an email"
                document.getElementById("error").classList.add("alert", "alert-danger")
                document.getElementById("error").appendChild(p)
                return
            }
            if (candidates.indexOf(document.getElementById('email').value) < 0) {
                candidates.push(document.getElementById('email').value);
                document.getElementById('email').value = ''
                disp();
            }
            else {
                let p = document.createElement("p")
                p.innerText = "You already entered this email"
                document.getElementById("error").classList.add("alert", "alert-danger")
                document.getElementById("error").appendChild(p)
                return
            }
        };

        function deleteElement(index) {
            hideError()
            candidates.splice(index, 1)
            disp()
        };

        function disp() {
            let str = ''
            for (i = 0; i < candidates.length; i++) {
                str += '<div class="row row-border my-row text-center align-items-center"><div class="col-3 col-border" id="list"><input type="email" value="' + candidates[i] + '" readonly></div><div class="col-1 col-border"><i class="fas fa-times fa-2x" onclick="deleteElement(' + candidates.indexOf(candidates[i]) + ')" style="color: white; cursor: pointer;"></i></div></div>';
            }
            document.getElementById('list').innerHTML = str;
        };

        function sendInvite() {
            if (candidates.length == 0) {
                let p = document.createElement("p")
                p.innerText = "Please add email ids of candidates."
                document.getElementById("error").classList.add("alert", "alert-danger")
                document.getElementById("error").appendChild(p)
                return
            }
            var xmlHttpRequest = new XMLHttpRequest()
            xmlHttpRequest.open("POST", `/company/test/{{data.tid}}/invite`, true)
            xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
            xmlHttpRequest.setRequestHeader("authorization", getCookie("authorization"));
            xmlHttpRequest.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        let p = document.createElement("p")
                        p.innerText = JSON.parse(this.responseText).msg + ". Public link for test is " + JSON.parse(this.responseText).linkForTest
                        document.getElementById("error").classList.add("alert", "alert-success")
                        document.getElementById("error").appendChild(p)
                    }
                    else {
                        let p = document.createElement("p")
                        p.innerText = JSON.parse(this.responseText).msg + ". " + JSON.parse(this.responseText).emails
                        document.getElementById("error").classList.add("alert", "alert-danger")
                        document.getElementById("error").appendChild(p)
                    }
                }
            }
            xmlHttpRequest.send(JSON.stringify({ candidates: candidates }))
        }

        function hideError() {
            let div = document.getElementById("error")
            if (div.childNodes[0]) {
                div.classList.remove("alert", "alert-danger")
                div.removeChild(div.childNodes[0])
            }
        }

        function validate() {
            let email = document.getElementById("email").value;
            let emailErr = true

            // valid email
            if (email == "") {
                printError("Please enter your email address");
            }
            else {
                var regex = /^\S+@\S+\.\S+$/;
                if (regex.test(email) === false) {
                    printError("Please enter a valid email address");
                } else {
                    emailErr = false;
                }
            }

            if ((emailErr) == true) {
                return false;
            }
            else {
                addElement()
            }
        }

        function printError(msg) {
            let p = document.createElement("p")
            p.innerText = msg
            document.getElementById("error").classList.add("alert", "alert-danger")
            document.getElementById("error").appendChild(p)
        }
    </script>
</body>