<body>
    <div class="container my-container">
        <div class="row row-border">
            <div class="col col-border ">
                <h2>Invite Candidates</h2>
            </div>
        </div>

         <div class="row row-border my-row ">
            <div class="col-1.5 col-border">
            <h5>Add Email Id</h5>
            </div>
         </div>  

        {{!-- ADD CANDIDATE  --}}
        <div class="row row-border my-row text-center align-items-center">
            <div class="col-3 col-border">
                <input type="email" placeholder="Enter Candidate Email Id" id="email">
            </div>
            <div class="col-1 col-border">
                {{!-- ADD ICON --}}
                <i class="fas fa-plus-square fa-2x" onclick="add()" style="color: white; cursor: pointer;"></i> 
            </div>
        </div>

        <div class="row row-border my-row ">
            <div class="col-1.5 col-border">
            <h5>Candidates to by invited</h5>
            </div>
         </div>

        {{!-- ADDED CANDIDATE SAMPLE --}}
        <div id="list"></div>
        

        {{!-- SEND INVITE BUTTON --}}
             <div class="row row-border my-row  align-items-center">
            <div class="col-2 col-border">
                  <button  class="btn btn-success" type="button" onclick="" >Send Invite</button>
            </div>
            </div>

    </div>
    <script>
        let candidates = []
        function add() {
            candidates.push(document.getElementById('email').value);
            console.log(candidates)
            disp();
        };

        //function delete(index) {
          //  console.log("delete" + index)
        //};

        function disp() {
            let str = ''
            for(i = 0; i <  candidates.length; i++) {
                str += '<div class="row row-border my-row text-center align-items-center"><div class="col-3 col-border" id="list"><input type="email" value="' + candidates[i] + '" readonly></div><div class="col-1 col-border"><i class="fas fa-times fa-2x" onclick="delete(' + candidates.indexOf(candidates[i]) + ')" style="color: white; cursor: pointer;"></i></div></div>';
            }
            document.getElementById('list').innerHTML = str;
        };

        function delete() {
            console.log("dellete")
        }
    </script>
</body>