<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="/javascripts/main.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  
    

     <link rel='stylesheet' href='/stylesheets/{{style}}' /> 
  </head>
  <body>

          <nav class="navbar navbar-expand-md navbar-dark bg-dark" style=" height:40px;">
        <a href="/candidatedashboard" class="navbar-brand">TestHub</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                {{!-- ul can have a class mr-auto-->shifts links to the left --}}
                <li class="nav-item">
                    <a href="/companyprofile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="signOut()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    {{{body}}}

    <footer class=" mt-auto py-3" style=" background-color: #343A40;">
  <div class="container" style="width:100%;">
    <div class="row text-light text-center footer-row align-items-center" style="height: 70px;">
                <div class="col-4 footer-col ">
                    Social Media and updates
                </div>
                <div class="col-4 footer-col">
                    Copyright @ 2020 Testhub.com
                </div>
                <div class="col-4 footer-col">
                    TestHub
                </div>
            </div>
  </div>
</footer>

  </body>

  <script>
 function signOut() {
            var xmlHttpRequest = new XMLHttpRequest()
            xmlHttpRequest.open("POST", "/candidate/signout", true)
            xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
            xmlHttpRequest.setRequestHeader("authorization", getCookie("authorization"));
            xmlHttpRequest.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        document.cookie = "authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC"
                       
                        window.location = "/"
                    }
                    else {
                        console.log('error')
                        //document.getElementById("error").innerText = JSON.parse(this.responseText).message
                    }
                }
            }
            xmlHttpRequest.send()
        }

  </script>
  
 
</html>
