<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-9 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="../images/face.png">

                </div>
                <div class="col-12 form-input">
                    <form>
                        <div id="error"></div>
                        <div class="form-group">
                            <select class="form-control" id="user-type">
                                <option value="business">Business</option>
                                <option value="candidate">Candidate</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="email" type="email" oninput="hideError()" class="form-control"
                                placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" oninput="hideError()" class="form-control"
                                placeholder="Enter password">
                        </div>
                        <button type="button" onclick="validate()" class="btn btn-success">SignIn</button>
                        <div class="row ">
                            <div class="col text-center">
                            <a href="/signup" >Do not  have an account ? Click here.</a>
                        </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        function hideError() {
            let div = document.getElementById("error")
            if (div.childNodes[0]) {
                div.classList.remove("alert", "alert-danger")
                div.innerHTML = ''
            }
        }

        function signIn() {
            
            let uType = document.getElementById("user-type").value;
            if (uType == 'business') {
                var email = document.getElementById("email").value
                var password = document.getElementById("password").value
                var xmlHttpRequest = new XMLHttpRequest()
                xmlHttpRequest.onreadystatechange = function () {
                    if (this.readyState === 4) {
                        if (this.status === 200) {
                            document.cookie = "authorization=" + this.getResponseHeader("authorization") + "; path=/"
                            window.location = "/companydashboard"
                        }
                        else {
                            let p = document.createElement("p")
                            p.innerText = JSON.parse(this.responseText).msg
                            document.getElementById("error").classList.add("alert", "alert-danger")
                            document.getElementById("error").appendChild(p)
                        }
                    }
                }
                xmlHttpRequest.open("POST", "/company/signin", true)
                xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
                xmlHttpRequest.send(JSON.stringify({ email: email, password: password }))
            }
            else if (uType = 'candidate') {
                var email = document.getElementById("email").value
                var password = document.getElementById("password").value
                var xmlHttpRequest = new XMLHttpRequest()
                xmlHttpRequest.onreadystatechange = function () {
                    if (this.readyState === 4) {
                        if (this.status === 200) {
                            document.cookie = "authorization=" + this.getResponseHeader("authorization") + "; path=/"
                            window.location = "/candidatedashboard"
                        }
                        else {
                            let p = document.createElement("p")
                            p.innerText = JSON.parse(this.responseText).msg
                            document.getElementById("error").classList.add("alert", "alert-danger")
                            document.getElementById("error").appendChild(p)
                        }
                    }
                }
                xmlHttpRequest.open("POST", "/candidate/signin", true)
                xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
                xmlHttpRequest.send(JSON.stringify({ email: email, password: password }))
            }
        }

    </script>
    <script src="/javascripts/signin_validations.js"></script>
</body>