<h1 style="text-align: center;">TestHub</h1>
<h5 style="text-align: center;">Welcome to TestHub</h5>
<br>
<br>
<br>

<div style="text-align: center;">
    <h1 style="text-align: center;">
        <strong>Sign in</strong></h1>
    <br>
    <p style="display: inline;">Email Address: </p><input type="email" placeholder="abc@xyz.com" required="required"
        id="email">
    <br>
    <br>
    <p style="display: inline;">Password: </p><input type="password" required="required" id="password">
    <br>
    <br>
    <button onclick="signIn()">Sign in</button>
    <p id="error" class="text-center" style="color: red;"></p>
    <br>
    <button onclick="signUp()">Sign Up</button>

</div>
<script>

    function signIn() {
        var email = document.getElementById("email").value
        var password = document.getElementById("password").value
        var xmlHttpRequest = new XMLHttpRequest()
        xmlHttpRequest.onreadystatechange = function () {
            if (this.readyState === 4) {
                if (this.status === 200) {
                    document.cookie = "authorization=" + this.getResponseHeader("authorization")
                    console.log("signin success")
                    window.location = "/delete"
                }
                else {
                    document.getElementById("error").innerText = JSON.parse(this.responseText).message
                }
            }
        }
        xmlHttpRequest.open("POST", "/company/signin", true)
        console.log("Request Made");
        xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
        xmlHttpRequest.send(JSON.stringify({ email: email, password: password }))
    }
    function signUp() {
        window.location = "/signup";
    }
</script>