@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background: url(../images/mountain.png) no-repeat center center fixed;
	background-size: cover;
}

/* .row-border{
    border: 2px solid yellow;
}

.col-border{
    border: 2px solid red;
} */

.heading{
    font-size: 20px;
    font-weight: 10px;
}

.test{
    margin-top: 20px;
    background-color: black;
    color: white;
    opacity: .8;
    
}

.row-test{
    padding: 10px;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}