@import url('https://fonts.googleapis.com/css?family=Roboto');

body,html{
    font-family: 'Roboto', sans-serif;
    background: url(../images/mountain.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.my-container{
    min-height: 100%;
}

.heading{
    font-size: 20px;
    font-weight: 10px;
}

.test{
    margin-top: 20px;
    background-color: black;
    color: white;
    opacity: .8;
    
}

.row-test{
    padding-bottom: 2vh;
    padding-top: 2vh;
    border-bottom: 1px solid white;
}

.row-test:hover{
    background-color: white;
    color: black;
}

.row-test:hover a{
    color: black;
}

a{
    color: white;
}

a:hover{
    text-decoration: none;
   
}

/* .row-border{
    border: 2px solid yellow;
}

.col-border{
    border: 2px solid red;
} */