@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
    font-family: 'Roboto', sans-serif;
    background: url(../images/mountain.png) no-repeat center center fixed;
    background-size: cover;
    /* height: 100%; */
    margin-bottom:30px;
    height: 100%;
}

.my-container{
    min-height: 100%;
}


.back{
    height:fit-content;
    padding: 1vh;
    background-color: black;
    color: white;
    opacity: .8;
}

.form-group{
    margin-bottom: 6vh;

}

.form-group input{
    height: 6vh;
    border-radius: 1vh;
    border: 0px;
    font-size: 3vh;
    letter-spacing: .2vw;
    
    width:32vw;
}

.form-group select{
    height: 6vh;
    border-radius: 1vh;
    border: 0px;
    font-size: 3vh;
    letter-spacing: .2vw;
    
    width:32vw;
}

p{
    margin-left: 1vw;
    font-size: 3.2vh;
}

.form-input button{
    width: 40%;
    margin-left: 20px;
    
}



a{
color: white;
font-size: 3vh;    
}

a:hover{
color: whitesmoke;
    
}

.my-col
{
    margin-left: 2vw;
    background-color: white;
    color: black;
    font-size: 3vh;

}

.btn-success{
    background-color: #1c6288;
    font-size: 19px;
    border-radius: 5px;
    padding: 7px 14px;
    border:1px solid #daf1ff ;
}

.btn-success:hover{
    background-color: #13445e;
    border: 1px solid #daf1ff;
}

/* 
.row-border{
    border: 2px solid yellow;
}

.col-border{
    border: 2px solid red;
} */
