@import url('https://fonts.googleapis.com/css?family=Roboto');

body,html{
    font-family: 'Roboto', sans-serif;
    background: url(../images/mountain.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.my-container{
    min-height: 100%;
}


.heading{
    margin-top: 15px;
}

/* .row-border{
    border: 2px solid yellow;
}

.col-border{
    border: 2px solid white;
} */

a{
    color:white;

    font-size: 15px;
}

a:hover{
    text-decoration: none;
        color: #13445e;
        
}

.row-recent{
    margin-bottom: 25px;
    margin-top: 5px;
}
.btn-custom{
background: none;
border: none;
color: white;
}

.row-main{
    margin-top: 5px;   
    background-color: #343A40;
}

.my-row{

    margin-top: 20px;
    background-color: black;
    color: white;
    opacity: .8;
}
footer{
    background-color: #343A40;
    margin-top: 20px;
    
    }

    .recent-tests{
        color: white;
        background-color: black;
        opacity: .8;
        margin-top: 3px;
        height: 240px;

    }