/* body {
  margin: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
} */

 body{
 /* background-color:whitesmoke;  */
 background: url(../images/mountain.png) no-repeat center center fixed;
 background-size: 1280px 720px;
}


/* FONTS */
.lead{
  font-family: 'Vollkorn', serif;

}

/* STRUCTURE */
/* .my-container{
  border: 1px solid green;
 
  
}

.my-row{
  border: 3px solid red;
}

.footer-row{
  border: 3px solid red;
}


.footer-col{
  border: 3px solid blue;
 
} 


.footer-container{
  border: 1px solid green;

 
}

 */

.my-col{
  border: 1px solid white;
  background-color: black;
  opacity: .8;
  color: white;
}



/* FOOTER */

footer{
background-color: #343A40;
}

.btn-dark{
  background-color: #1c6288;
  border:1px solid #daf1ff ;
}

.btn-dark:hover{
  background-color: #13445e;
  border: 1px solid #daf1ff;
}